@define-color button-text-color #fffaf3;
@define-color button-hover-text-color #ffcc66;
@define-color button-bar-text-color #fffaf3;

* {
  /* min-height: 0px; */
  /* min-width: 0px; */
  font-family: "JetBrainMono Nerd Font";
  /* font-family: "Hack Nerd Font"; */
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.65);
  /* 
  background-color: rgba(24, 24, 37, 0.75);
  border-radius: 24px;
  */
}

.modules-left {
  padding-left: 10px;
  margin: 4px;
}
.modules-right {
  padding-right: 10px;
}

.modules-center {
  margin: 0px 0px 0px 0px;
}

/* hyprland/workspace */
#workspaces button {
  /*
  margin: 5px 10px 5px 10px;
  padding: 0px 5px 0 5px; 
  border-radius: 20px;
  border: none; 
  background: transparent;  */
  margin: 4px;
  padding: 0px 10 0px 10px;
  color: @button-text-color;
  box-shadow: none;
  text-shadow: none;
  transition:
    background 0.15s ease,
    color 0.15s ease;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.1);
  color: @button-hover-text-color;
  box-shadow: none;
  text-shadow: none;
}
/*
#workspaces button.active {
  background: rgba(137, 180, 250, 0.9);
  color: #11111b;
  box-shadow: 0 0 6px rgba(137, 180, 250, 0.6);
}
*/

#workspaces button.active {
  background: rgba(255, 255, 255, 0.1);
  color: @button-bar-text-color;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
  text-shadow: none;
}

/* 
#workspaces button.empty {
  background: red;
} */

/* hyprland/widow */
#disk,
#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#custom-network-center,
#custom-sep,
#custom-icon,
#group-hardware,
#cpu,
#cava,
#tray,
#memory,
#network,
#network2,
#backlight,
#battery,
#window,
#bluetooth,
#language,
#mpris {
  color: @button-text-color;
  padding: 0px 10px 0px 10px;
  /*
  margin: 5px 5px 5px 5px; */
}

#disk:hover,
#cpu:hover,
#battery:hover,
#memory:hover,
#window:hover,
#bluetooth:hover,
#custom-notification:hover,
#pulseaudio:hover,
#language:hover,
#clock:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  border-radius: 8px;
  color: @button-hover-text-color;
  background: rgba(255, 255, 255, 0.1);
}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}
